.main {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),url("./water.jpg");
    position: relative;
    background-size: cover;
    width: 100%;
    height: 70vh;

    text-align: left;
    h1 {
        padding-top: 10vh;
        padding-left: 10vh;
        color: white;
        font-size: 12vh;
    }
    h3 {
        
           
        padding-left: 10vh;
        padding-right: 40%;
        color: white;
        font-size: 4vh;
        font-weight: 100
        
    }
    @media (max-width: 1200px) and (min-width: 801px) {
        height: 75vh;
        h1 {

            font-size: 10vh;
        }
        h3 { 
            padding-left: 10vh;
            padding-right: 30%;
            color: white;
            font-size: 4vh;
            font-weight: 100
        }
    }
    @media (max-width: 800px) {
        height: 75vh;
        h1 {
            font-size: 8vh;
        }
        h3 { 
            padding-left: 10vh;
            padding-right: 20%;
            color: white;
            font-size: 4vh;
            font-weight: 100
            
        }
    }
}