.gallery {
    display: flex;
    padding-top: 5vh;

    .collumn {
        width: 33%;
        overflow: hidden;

        img {
            object-fit: contain;
            width: 100%;

        }
    }

}