.gallery {
    display: flex;
    padding-top: 5vh;

    .collumn {
        width: 33%;
        overflow: hidden;

        img {
            object-fit: contain;
            width: 100%;

        }
    }
    @media (max-width: 1000px) {
        display: block;
        .collumn {
            width: 100%;
        }

    }

}