.footer {
    background: #2B2B2B;
    padding-bottom: 5vh;
    padding-top: 5vh;
    
    p{
        color: white;
              padding-left: 5%;
            padding-right: 5%;
    }
    a{
        text-decoration: none;
        color: #E7B4FF;
        
        
    }a:hover {
        color: #B4F7FF 
    }
}