.categories {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display:flex;
    justify-content: center;
    background: #F3F3F3 ;
    .card{
        width: 80%;
        background: white;
        border-radius: 2px;
        .link {
            color: white;
            text-decoration: none;
            font-size: 3vh;
        }
    }
    height: 40vh;
}