//styling page for just the list of available categories
.categories {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display:flex;
    justify-content: center;
    background: #F3F3F3 ;
    .card{
        width: 80%;
        background: white;
        border-radius: 2px;
        .link {
            color: white;
            text-decoration: none;
            font-size: 3vh;
        }
        p{
            padding-left: 5%;
            padding-right: 5%;
        }
    }
    height: 40vh;

    @media (max-width: 1200px) and (min-width: 801px) {
        height: 50vh;

    }
    @media (max-width: 800px) {
        height: 85vh;
    }
}