//The icon on the left of the navbar
.iconlink {
    h4 {
        color: white;
    }

    .iconfull {
        display: block;
    }

    .iconsmall {
        display: none;
    }
}

//responsive ness
@media (max-width: 1000px) {

    .iconlink {
        //Just change between icons if too small
        .iconfull {
            display: none;
        }

        .iconsmall {
            display: block;
        }
    }
}
