.category{
    background: white;
    text-align: left;
    height: 100vh;
    padding: 10vh;
    @media (max-width: 1000px) {
        
        padding: 3vh;
        
    }
    h1 {
        @media (max-width: 1000px) {
        
            padding-top: 9vh;
        }
    }
    .members{

        
            padding-top: 2vh;
            padding-left: 2vh;
            padding-right: 2vh;
            padding-bottom: 2vh;
            display:flex;
            border: solid grey 1px;
            @media (max-width: 1000px) {
        
 
                    display: block;
                    padding: 0;
                
            }
            
            .members2{
                padding-left: 3vh;
                @media (max-width: 1000px) {
        
                    padding: 0
                }
            }
            .link{
                text-decoration: none;
                font-size: 25px;
            }
        }
    
}